@model LibraryManagement.Models.View.CategoryDetailsViewModel

@{
    Layout = "_Layout";
}
<header><h1>All Categories</h1></header>
<div>
    <ul >
        @foreach (var cat in Model.categoryDetails)
        {
          
            <li>
                <a class="SiteMap-Header" asp-area="" asp-controller="BookManagement" asp-action="ListBooksInCategory"  asp-route-id="@cat.Category_Id">@cat.Category_Name</a>
            </li>
       
        }
    </ul >
    <a asp-area="" asp-controller="BookManagement" asp-action="AddCategoryForm">Add new Category</a>
</div>
